.report-content .agent-content {
    overflow-x: scroll;
}
.report-content .report-title > h3{
    font-weight: bold;
    font-size: 20pt;
}
.report-lable div span{
    font-weight: bold;
    font-size: 15px;
}
.report-lable div span + span{
    color: #2BB1D3;
    font-size: 16px;
    /*text-decoration: underline;*/
}
.house-title{
    display: block;
    width: 100%;
    height: 35px;
    background: none repeat scroll 0 0 #F2F2F2;
    border-top: 2px solid #C0272D;
    margin-bottom: 10px; 
}
.house-title > span{
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    width: 305px;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    padding-left: 25px;
}
ul.house-info > li {
    padding-top: 5px;
    border-bottom: 1px dashed #f1f1f1;
    display: block;
    min-height: 25px;
    padding-left: 25px;
    color: #404142;
}
ul.house-info > li > strong{
    font-weight: bold;
    width: 200px;
    display: inline-block;
}

ul.house-info > li > ul{
    margin: 5px;
}
ul.house-info > li > ul > li {
    padding-top: 5px;
    display: block;
    min-height: 25px;
    color: #404142;
}
ul.house-info > li > ul > li > span:first-child{
    font-weight: bold;
    width: 200px;
    display: inline-block;
}
ul.detail-list-items > li{
    float: left;
    width: 460px;
    border-left: 1px dashed #f1f1f1;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
#main .report-content .no-wrap {
    overflow-x: hidden;
}
#main .report-content table {
    width: 100%;
}